<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <title>Stopky</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="/script.js"></script>
  </head>
  <body>
    <h1>Stopky</h1>

    <div class="time">
      <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds"
        >00</span
      >
    </div>

    <div class="buttons">
      <button id="start">Start</button>
      <button id="stop">Stop</button>
      <button id="save">Uložit</button>
      <button id="help-btn">Nápověda</button>
    </div>

    <div class="description">
      <input type="text" id="desc-input" value="<%= description || '' %>" />
      <span id="desc-error" class="error"></span>
    </div>

    <div class="row">
      <div id="begin-label">Začátek</div>
      <div id="begin-content">
        <input
          type="text"
          id="begin-input"
          value="<%= formattedStartTime || '' %>"
        />
        <span id="begin-error" class="error"></span>
      </div>
    </div>

    <div class="row">
      <div id="end-label">Konec</div>
      <div id="end-content">
        <input
          type="text"
          id="end-input"
          value="<%= formattedEndTime || '' %>"
        />
        <span id="end-error" class="error"></span>
      </div>
    </div>

    <div class="row">
      <div id="dur-label">Trvání</div>
      <div id="dur-content">
        <input
          type="text"
          id="dur-input"
          value="<%= formattedDuration || '' %>"
          disabled
        />
      </div>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <div id="help-text"></div>
        <button id="close-btn">Zavřít</button>
      </div>
    </div>
  </body>
</html>
